defaultEntryPoints = ["https", "http"]

[entryPoints]
  [entryPoints.dashboard]
    address = ":8040"
  [entryPoints.http]
    address = ":80"
  [entryPoints.https]
    address = ":443"
    [entryPoints.https.tls]
      [[entryPoints.https.tls.certificates]]
        certFile = "/certs/localhost.crt"
        keyFile = "/certs/localhost.key"

[api]
entrypoint="dashboard"

[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "localhost"
network = "traefik"
exposedByDefault = false